<div class="log-in-background"></div>

<div class="center">
  <img src="/assets/WanderSF.png"
       alt="Wander SF logo"
       height="90"
       width="300">
  </img>
</div>

<h3 class="sign-in-text center">Sign In</h3>

<br><br>

<div class="sign-in-box center">
  <div class="row col-xs-4 col-xs-offset-4">
    <form action="<%= session_url %>" method="post">
      <%= auth_token %>
      <div class="form-group">
        <input type="email" class="form-control" name="user[email]" value="" placeholder="email">
      </div>

      <div class="form-group">
        <input type="password" class="form-control" name="user[password]" value="" placeholder="password">
      </div>

      <button type="submit" class="btn btn-lg btn-success">Submit</Button>
    </form>
<br>
    <p>New to WanderSF? <%= link_to "Sign up here!", new_user_url %></p>
    <div class="row">
      <form action="<%= session_url %>" method="post">
        <%= auth_token %>
        <input type="hidden" name="user[email]" value="guest@guest.com">
        <input type="hidden" name="user[password]" value="password">

        <div class="col-md-18 text-center">
        <button class="btn btn-xs btn-info center-block"
                id="guest-login"
                type="submit"
                value="Guest Login">Guest Login</button>
        </div>
      </form>
    </div>

  </div>
</div>
