<!DOCTYPE html>
<html>
<head>
  <title>WanderSF</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: "shared/header" %>
  <%= render partial: "shared/errors" %>

  <!-- <div class="container"> -->
    <%= yield %>
  <%= javascript_include_tag 'application' %>
  </div>

  <%= render partial: "shared/footer" %>
</body>
</html>
